In [1]:
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame
loaded_model = joblib.load('C:\\Users\\2019A00303\\Desktop\\Code\\Airbnb Project\\Model\\SeoulModel.pkl')

In [82]:
# test = pd.read_csv("C:\\Users\\2019A00303\\Desktop\\Code\Airbnb Project\\Data\\TestData.csv")
test = [[2, 1, 0, 2, 37.555285, 126.927202, 0, 1, 0, 59]]
test2 = [[2, 2, 0, 2, 37.555285, 126.927202, 0, 1, 0, 59]]
test = DataFrame(test)
test2 = DataFrame(test2)
test

   0  1  2  3          4           5  6  7  8   9
0  2  1  0  2  37.555285  126.927202  0  1  0  59

In [83]:
test.head()

   0  1  2  3          4           5  6  7  8   9
0  2  1  0  2  37.555285  126.927202  0  1  0  59

In [84]:
# test = test.drop(['Unnamed: 0', 'group'], axis=1)

In [85]:
q = test.iloc[:, 0:9].values
q2 = test2.iloc[:, 0:9].values

In [86]:
q

array([[  2.      ,   1.      ,   0.      ,   2.      ,  37.555285,
        126.927202,   0.      ,   1.      ,   0.      ]])

In [90]:
print((loaded_model.predict(q)-loaded_model.predict(q2)))

[-8.66888889]

In [93]:
a = loaded_model.predict(q)
print("예측가격:" + str(a[0]))

예측가격:50.041111111111114